
/** Home Post */
.home-post {
  width: 938px;
  border: 1px solid black;
  height: 615px;
  position: relative;
  margin-top: 50px;

  .tag {
    width: 382px;
    height: 62px;
    border: 1px solid black;
    position: absolute;
    top: -32px;
    left: -1px;
    font-family: title-1;
    background: #fffffd;
    font-size: 28px;
  }
  .time {
    font-size: 12px;
    color: grey;
  }
  .title {
    margin-top: 20px;
    font-size: 28px;
    font-weight: bold;
    color: black;
  }
  .text-info {
    display: flex;
    flex-direction: column;
    flex-direction: flex-start;
    text-align: left;
    padding: 42px 47px 13px;
  }

  .description {
    font-size: 16px;
    margin-top: 20px;
    color: grey;
  }

}


.normal-post {
  width: 450px;
  border: 1px solid black;
  cursor: pointer;
  .time {
    font-size: 12px;
    color: grey;
  }
  .title {
    margin-top: 20px;
    font-size: 26px;
    font-weight: bold;
    
  }
  .text-info {
    display: flex;
    flex-direction: column;
    flex-direction: flex-start;
    text-align: left;
    padding: 24px 29px 7px;
    color: black;
  }

  .text-info:hover {
    color:rgb(102, 0, 234)
  }

  .description {
    font-size: 16px;
    margin-top: 20px;
    font-weight: 300;
  }

}

.lastest-post {
  width: 573px;
  height: 342px;
  border: 1px solid black;
  display: inline-flex;
  cursor: pointer;
  .time {
    font-size: 12px;
    color: grey;
  }
  .title {
    margin-top: 20px;
    font-size: 23px;
    font-weight: bold;
    
  }
  .text-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-direction: flex-start;
    text-align: left;
    padding: 40px 48px 37px;
    color: black;
  }

  .text-info:hover {
    color:rgb(102, 0, 234)
  }

  .description {
    font-size: 16px;
    margin-top: 20px;
    font-weight: 300;
  }

}



/** NavBar */
.menu-item-wrapper {
  position: relative;
  height: 50px;
  width: 200px;
}

.menu-item {
  width: 100%;
  height: 100%;
  border-left: 1px solid black;
  color: black;
  transition: color 0.4s ease 0s;
  cursor: pointer;
  z-index: 1;
}

.menu-item-wrapper:last-child {
  border-right: 1px solid black;
}


/* .menu-item:hover {
  color: #6600EA;
  transition: color 0.4s ease-out 0s;
} */

.menu-item:before {
  content: "";
  background: #6600ea88;
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  animation: 1s forwards no-hover-v ease;
  animation-fill-mode: forwards;
  z-index: -1;
}
.menu-item:hover:before,
.menu-item:focus:before {
  animation: 0.3s forwards hover-v ease;
  animation-fill-mode: forwards;
}
@keyframes hover-v {
  0% {
    transform: scaleX(0);
    height: 5px;
  }
  45% {
    transform: scaleX(1);
    height: 5px;
  }
  55% {
    height: 5px;
  }
  100% {
    transform: scaleX(1);
    height: 50px;
  }
}
@keyframes no-hover-v {
  0% {
    transform: scaleX(1);
    height: 50px;
  }
  45% {
    height: 5px;
  }
  55% {
    transform: scaleX(1);
    height: 5px;
    opacity: 1;
  }

  100% {
    transform: scaleX(0);
    height: 5px;
    opacity: 0.02;
  }
}

.nav-menu {
  display: flex;
  justify-content: center;
  width: 99%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 30px;
}

.menu-container {
  width: 980px;
  display: flex;
  display: flex;
  justify-content: left;
  position: relative;
}

/** LeftNav **/
.vertial-nav {
  transform: skewX(30deg);
  display: flex;
  width: 600px;
  border: 1px solid black;
}

.nav-item {
  width: 200px;
  height: 50px;
  cursor: pointer;
  line-height: 50px;
  border-right: 1px solid black;
  animation: 0.5s forwards nav-no-hover ease;

  div {
    transform: skewX(-30deg);
  }
}

.nav-item:last-child {
  border-right: none;
}

.nav-item:hover {
  background: #6600ea88;
  animation: 0.5s forwards nav-hover ease;
}

@keyframes nav-hover {
  0% {
    background: transparent;
  }
  100% {
    background: #6600ea88;
  }
}

@keyframes nav-no-hover {
  0% {
    background: #6600ea88;
  }
  100% {
    background: transparent;
  }
}

/** pagination **/
.pagination {
  display: inline-block;
}

.pagination span, .pagination button {
  color: black;
  float: left;
  height: 32px;
  width: 32px;
  line-height: 32px;
  margin: 0 2px;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid transparent;
}

.pagination span.active {
  background-color: #6600ea88;
  border: 1px solid black;
  color: white;
}

.pagination span:hover:not(.active), .pagination button:hover {
  border: 1px solid black;
}

.pagination button:disabled {
  background: rgba(239, 239, 239, 0.3);
  color: rgba(16, 16, 16, 0.3);
  border-color: rgba(118, 118, 118, 0.3);
}

/** table **/ 
.base-table {
  width: 1200px;
  border: 1px solid #666;
  border-spacing: 0;
  tr {
    height: 50px;
    display: inline-flex;
    width: 100%;
    td {
      border-top: 1px solid #888;
      border-left: 1px solid #888;
    }

    td:first-child {
      border-left: none;
    }

    th {
      background-color: #6600ea22;
      border-left: 1px solid #888;
    }

    th:first-child {
      border-left: none;
    }
  }


  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
}

/** button **/
.base-button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  // background: linear-gradient(#eee, #fff, #eee);
  background: white;
  outline: none;
  border: 1px solid black;
  font-weight: 300;
  text-align: center;
}

.base-button:before {
  content: "";
  background: linear-gradient(#6600ea44, #8822ff44, #6600ea44);
  position: absolute;
  width: 0%;
  height: 5%;
  bottom: 0;
  left: 0;
  animation: 1s forwards no-hover-v-base-button ease;
  animation-fill-mode: forwards;
  z-index: 99;
}
.base-button:hover:before,
.base-button:focus:before {
  animation: 0.3s forwards hover-v-base-button ease;
  animation-fill-mode: forwards;
}
@keyframes hover-v-base-button {
  0% {
    width: 0%;
    height: 5%;
  }
  45% {
    width: 100%;
    height: 5%;
  }
  55% {
    width: 100%;
    height: 5%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
@keyframes no-hover-v-base-button {
  0% {
    width: 100%;
    height: 100%;
  }
  45% {
    height: 5%;
  }
  55% {
    width: 100%;
    height: 5%;
    opacity: 1;
  }

  100% {
    width: 0%;
    height: 5%;
    opacity: 0.02;
  }
}