body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@font-face {
  font-family: title-2;
  src: url(../src/assets/font/deadends.woff.ttf);
}

@font-face {
  font-family: title-1;
  src: url(../src/assets/font/MIRARAEN.TTF);
}

/** base layout **/
.h-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  border: 1px solid black;
  border-radius: 0px;
  padding: 8px 15px;
  outline: none;
  height: 35px;
  font-size: 15px;
}

input:hover, input:active, input:visited {
  border: none;
  border-bottom: 2px solid #6600EA;
}


/** home */
.latest-post-title {
  letter-spacing: 0.4rem;
  font-size: 22px;
  font-family: title-2;
  padding-left: 16px;
  margin-top: 70px;
  margin-bottom: 50px;
}

.about-me-title {
  letter-spacing: 0.4rem;
  font-size: 22px;
  font-family: title-2;
  padding-left: 16px;
  margin-top: 70px;
  margin-bottom: 50px;
}

.avatar {
  border: 1px solid black;
  background-image: url(./assets/img/avatar.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
}

.my-description {
  font-size: 17px;
  font-weight: 300;
  color: black;
  margin-top: 50px;
  /* text-indent: 2rem; */
}

.more {
  margin-top: 50px;
  font-size: 15px;
  cursor: pointer;
}

/** 通用文本 **/
.base-text {
  font-size: 17px;
  font-weight: 300;
}

.with-hover {
  color: black;
}

.with-hover:hover {
  color: #6600EA;
}



/* 自定义scrollbar */

/** 定义滚动条 **/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

/* 定义轨道 */
::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);   */
  border-radius: 3px;
  background-color: transparent;
}

/* 定义滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);   */
  background-color: #dddee0;
}

/* 火狐 */
* {
  scrollbar-color: #e5e5e5 transparent; /* 滑块颜色  滚动条背景颜色 */
  scrollbar-width: thin; /* 滚动条宽度有三种：thin、auto、none */
}
